<div class="row align-items-center justify-content-center">
	<figure class="col-md-8">
		<div class="overflow-is-hidden">
			<img src="{{ asset('images/' ~ character.image) }}" class="img-fluid coloring-zooming-effect" alt="Character image">
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><h2>{{ character.nickname }}</h2></li>
			<li class="list-group-item"><h4>{{ character.firstName }} {{ character.lastName }}</h4></li>
		</ul>
	</figure>
</div>