{% extends 'base.html.twig' %}

{% block main %}
{# Title row #}
<div class="row py-4">
	<div class="col">
		<h1 class="text-center">Choix du personnage :</h1>
	</div>
</div>
{# Pick you character row #}
<div class="row">
	{% for character in characters %}
	<div class="col-md-4">
		{#characterComponent#}
		{% include 'character/character_component.html.twig' %}
	</div>
	{% endfor %}
</div>
{# Learn more about you character #}
<div class="row">
	<div class="col">
		{#loremIpsum Text#}
		{% include 'lorem_ipsum.html' %}
	</div>
</div>
{% endblock %}
