<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}AesSidhe{% endblock %}</title>
		{# Favicon #}
		<link rel="icon" href="images/faviconSword.ico" type="image/x-icon">
        {% block stylesheets %}		
			{# CSS General Stylesheets (Bootstrap, Bootstrap override and Global) #}
			{% include 'stylesheets_import.html.twig' %}
		{% endblock %}
    </head>
    <body>
		<header>
			{% include 'navbar.html.twig' %}
		</header>
		<main class="container-fluid">
			{% block main %}
			{% endblock %}
		</main>
		<footer>
			{% block javascripts %}
				{# Javascript Jquery, Popper and Bootstrap librairies #}
				{% include 'javascripts_import.html.twig' %}
			{% endblock %}
		</footer>
    </body>
</html>
