.overflow-is-hidden{
overflow:hidden;
}

.coloring-zooming-effect{
	filter: grayscale(100%);
	transition: 300ms ease-out;
}

.coloring-zooming-effect:hover {
	filter: grayscale(0%);
	transform: scale(1.1);
 }